{% extends 'base.html' %}

{% block title %}User list{% endblock %}


{% block main %}
  <h2>Users</h2>
  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <tbody>
      {% for user in object_list %}
        <tr>
         <td>{{ user }}</td>
         <td>{{ user.etablissement }}</td>
        <td>
            {% if perms.auth.change_user %}
              <a href="/users/edit/{{ user.pk }}">edit</a>
            {% elif perms.auth.change_user %}
              <a href="/users/edit/{{ user.pk }}">edit</a>
            {% endif %}

            {% if perms.auth.delete_user %}
              <a href="/users/delete/{{ user.pk }}" class="text-danger">delete</a>
            {% endif %}
          </td>
        </tr>

      {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="pagination">
        <span class="step-links">
            {% if paginator.has_previous %}
              <a href="?page=1">&laquo; first</a>
              <a href="?page={{ paginator.previous_page_number }}">previous</a>
            {% endif %}

          <span class="current">
                Page {{ paginator.number }} of {{ paginator.paginator.num_pages }}.
            </span>

          {% if paginator.has_next %}
            <a href="?page={{ paginator.next_page_number }}">next</a>
            <a href="?page={{ paginator.paginator.num_pages }}">last &raquo;</a>
          {% endif %}
        </span>
  </div>
{% endblock %}